.section{
    margin-top: 100px;
    padding-bottom: 50px;
    h1{
        max-width: 700px;
        span{
            background: var(--primary-color);
            color: var(--background-color);
            padding: 0 10px;
            border-radius: var(--border-radius);
            transform: rotate(-2deg);
            display: inline-block;
        }
    }
    p{
        text-align: justify;
        max-width: 700px;
    }
}

@media screen and (min-width : 1100px) {
    .section{
        min-height: calc(100vh - 100px);
    }
}

@media screen and (max-width : 1100px) {
    .section {
        margin-top: 100px;
    }
}