.section{
    padding-bottom: 50px;
    h2 > span {
                display: inline-block;
                position: relative;
                padding-left: 90px;
                font-size: 85%;
            }
    h2 > span::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 1px;
            width: 70px;
            background-color: var(--text-color);
        }
}